<nav>
  <h1 class="logo"><a href="#">DevFolio</a></h1>
  <ul class="links d-flex align-items-center list-unstyled m-0">
    <li><span>Home</span></li>
    <li><span>About</span></li>
    <li><span>Service</span></li>
    <li><span>Work</span></li>
    <li><span>Blog</span></li>
    <li id="dropdownMenuBtn">
      <span> Drop Down <i class="fa fa-angle-down"></i> </span>
      <div id="dropdownMenu" class="">
        <p>Dropdown 1</p>
        <p>Dropdown 2</p>
        <p>Dropdown 3</p>
        <p>Dropdown 4</p>
      </div>
    </li>
    <li>Contact</li>
  </ul>
</nav>
<!--
  SEARCH ON WHAT DOES IT DEPEND ON IN SORTING STYLE ATTRIBUTES
 -->
