#portfolio .container {
  padding: 48px 0;
}

#portfolio .title {
  margin-bottom: 64px;
}

#portfolio .title h3 {
  color: #1e1e1e;

  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}

#portfolio .title p {
  position: relative;

  color: #4e4e4e;
}

#portfolio .title p::after {
  content: "";

  position: absolute;
  bottom: -20px;
  left: 50%;

  width: 40px;
  height: 5px;

  background-color: #0078ff;

  transform: translateX(-50%);
}
